extends layout 

block content 
    h1 #{title}:  #{brand.name}
    
    if brand_items.length 

        p #[strong Please delete the following gear before deleting this brand.]

        div(style='margin-left:20px;margin-top:20px')

            h4 Gear 

            dl 
            each item in brand_items 
                dt 
                    a(href=item.url) #{item.name}
                dd #{item.description}

    else    
        p Do you really want to delete this brand?

        form(method='POST' action='')
            div.form-group
                input#brandid.form-control(type='hidden',name='brandid',required='true', value=brand._id )

            button.btn.btn-primary(type='submit') Delete

        p   
            a(href=brand.url) Cancel