extends layout 

block content 
    h1 #{title}

    h4 #{brand.name}
    
    if brand_items.length 

        p #[strong This brand currently has the following gear in the wishlist.]

        div.items-container

            each item in brand_items 
       
                a.item-container(href=item.url) 
                    if item.image === undefined 
                        img(src='/images/item-default.jpg' alt=item.name)
                    else
                        img(src='/uploads/'+item.image alt=item.name) 
                    p.item-title #{item.name}
        p #[em You must delete this gear before deleting this brand.]

    else    
        p Do you really want to delete this brand?

        form(method='POST' action='')
            div.form-group
                input#brandid.form-control(type='hidden',name='brandid',required='true', value=brand._id )

            div.buttons
                button.btn.btn-primary(type='submit') Delete  
                a.btn.btn-alt(href=brand.url) Cancel