extends layout 

block content   
    a(href=brand.website target='blank')
        h1 #{brand.name}
    h4 Items:
    div.items-container
       
        each item in brand_items 
            a.item-container(href=item.url)
                img(src=item.image alt=item.name) 
                p #{item.name}

        else 
            p This brand has no items.

    div.buttons   
        a.btn(href=brand.url+'/update') 
            p Update brand
        a.btn(href=brand.url+'/delete') 
            p Delete brand