extends layout 

block content   
    h1 #{brand.name}
    a.brand-link(href=brand.website target='blank')
        ion-icon(name='globe-outline')
        p Visit #{brand.name} online
 
    if brand_items.length > 0
        h4 Gear:
            div.items-container
        
                each item in brand_items 
                    a.item-container(href=item.url)
                        img(src=item.image alt=item.name) 
                        p.item-title #{item.name}

    else 
        p This brand currently has no gear in the wishlist.
    div.buttons   
        a.btn(href=brand.url+'/update') 
            p Update brand
        a.btn.btn-alt(href=brand.url+'/delete') 
            p Delete brand