extends layout 

block content 

    h1 #{category.name}
    p.description #{category.description}

    if category_items.length > 0
        div.items-container             
            each item in category_items 
                a.item-container(href=item.url)
                    if item.image === undefined 
                        img(src='/images/item-default.jpg' alt=item.name)
                    else
                        img(src='/uploads/'+item.image alt=item.name)
                    p.item-title #{item.name}

    else 
        p This category has no gear.

    div.buttons 
        a.btn(href=category.url+'/update')
            p Edit category
     
        a.btn.btn-alt(href=category.url+'/delete')
            p Delete category