extends layout 
block content 
    h1 #{title}: 
    h4 #{category.name}

    if category_items.length 

        p #[strong This category is being used by the following gear:]
        
        div.items-container

            each item in category_items 

                a.item-container(href=item.url) 
                    img(src=item.image alt=item.name)
                    p.item-title #{item.name}

        p #[em Please delete the item(s) or change its category.]

    else 
        p Do you really want to delete this category?

        form(method='POST' action='')
            div.form-group
                input#categoryid.form-control(type='hidden' name='categoryid',required='true', value=category._id )
            div.buttons
                button.btn.btn-primary(type='submit') Delete 
                a.btn.btn-alt(href=category.url) Cancel