extends layout

block content
  h1= title
  p Welcome to #{title}, an express site to keep track of some of the gear of my dreams. 

  h1 Dynamic content

  if error 
    p Error getting dynamic content.
  else  
    p Here are the counts.

  ul  
    li #[strong Items:] !{data.item_count}
    li #[strong Brands:] !{data.brand_count}
    li #[strong Categories]: !{data.category_count}

