extends layout

block content
  h1= title
  img(src='./images/hero-studio.jpg' alt='Recording studio')
  p.description Welcome to #{title}, an express CRUD app to keep track of some of the musical gear that I dream of owning some day. 

  if error 
    p Error gathering gear.
  else  
    h4 The list currently contains:

  ul  
    li #[strong Items:] !{data.item_count}
    li #[strong Brands:] !{data.brand_count}
    li #[strong Categories]: !{data.category_count}

