extends layout 

block content
    h1 #{title}: #{item.name}

    p Do you really want to delete this item?

    if item.image === undefined 
        img(src='/images/item-default.jpg' alt=item.name)
    else
        img(src='/uploads/'+item.image alt=item.name)

    p #[strong Brand:] #{item.brand.name}
    p #[strong Price:] #{item.price}
    p #[strong Description:] #{item.description}
    p #[strong Category:] #{item.category.name}


    form(method='POST', action='')
        div.form-group
            input#itemid.form-control(type='hidden',name='itemid',required='true', value=item._id )

        button.btn.btn-primary(type='submit') Delete 

    p 
        a(href=item.url) Cancel