extends layout 

block content 
    h1 #{item.name}

    img(src='/uploads/'+item.image alt=item.name)

    div.item-details

        p #[strong Brand:] 
            a(href=item.brand.website target='blank') #{item.brand.name}
        p #[strong Price:] $#{item.price}
        p #[strong Description:] #{item.description}
        p #[strong Category:] 
            each val in item.category 
                a(href=val.url) #{val.name}

    div.buttons 
        a.btn(href=item.url+'/update') 
            p Update Item    
        a.btn.btn-alt(href=item.url+'/delete') 
            p Delete Item  
       
