extends layout 

block content
    h1 #{title}: #{item.name}

    p Do you really want to delete this item?

    p #[strong Brand:] #{item.brand.name}
    p #[strong Price:] #{item.price}
    p #[strong Description:] #{item.description}
    p #[strong Category:] #{item.category.name}
    p #[strong Image:] #{item.image}

    form(method='POST', action='')
        div.form-group
            input#itemid.form-control(type='hidden',name='itemid',required='true', value=item._id )

        button.btn.btn-primary(type='submit') Delete 

    p 
        a(href=item.url) Cancel