extends layout 

block content       
    h1= title

    each item in item_list 
        a.item-container(href=item.url)
            img(src=item.image alt=item.name) 
            p #{item.name}

    else
        p There are no items 