extends layout 

block content 
    h1 #{item.name}

    p #[strong Brand:] 
        a(href=item.brand.website target='blank') #{item.brand.name}
    p #[strong Price:] #{item.price}
    p #[strong Description:] #{item.description}
    p #[strong Category:] 
        each val in item.category 
            a(href=val.url) #{val.name}
    p #[strong Image:] #{item.image}

    hr
    p 
     a(href=item.url+'/delete') Delete Item 
    p 
        a(href=item.url+'/update') Update Item
